* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --cream: #FFF4E0;
    --green: #366252;
  }
  body {
    background: var(--cream);
  }
  .app-name {
    background-color: var(--green);
    padding: 2rem;
    text-align: center;
  }
  h1 {
    color: var(--cream);
    font-size: 80px;
  }

  nav {
    font-family: 'Inter', sans-serif;
    background: #728E7C;
    padding: 15px;
    position: sticky;

    text-align: right;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    gap: 1rem;
padding: 1rem;
  }
  
  a:hover {
    color: #F5B700;
  }
  
  .title-script {
    font-family: 'Playwrite US Trad', cursive;
  }

  
  